## ДЗ 1 (ОБЯЗАТЕЛЬНОЕ): Анализ температурных данных и мониторинг текущей температуры через OpenWeatherMap API

**Описание задания:**  
Вы аналитик в компании, занимающейся изучением климатических изменений и мониторингом температур в разных городах. Вам нужно провести анализ исторических данных о температуре для выявления сезонных закономерностей и аномалий. Также необходимо подключить API OpenWeatherMap для получения текущей температуры в выбранных городах и сравнить её с историческими данными.


### Цели задания:
1. Провести **анализ временных рядов**, включая:
   - Вычисление скользящего среднего и стандартного отклонения для сглаживания температурных колебаний.
   - Определение аномалий на основе отклонений температуры от $ \text{скользящее среднее} \pm 2\sigma $.
   - Построение долгосрочных трендов изменения температуры.
   - Любые дополнительные исследования будут вам в плюс.

2. Осуществить **мониторинг текущей температуры**:
   - Получить текущую температуру через OpenWeatherMap API.
   - Сравнить её с историческим нормальным диапазоном для текущего сезона.

3. Разработать **интерактивное приложение**:
   - Дать пользователю возможность выбрать город.
   - Отобразить результаты анализа температур, включая временные ряды, сезонные профили и аномалии.
   - Провести анализ текущей температуры в контексте исторических данных.
   - Любые графики должны быть интерактивными.


### Описание данных
Исторические данные о температуре содержатся в файле `temperature_data.csv`, включают:
  - `city`: Название города.
  - `timestamp`: Дата (с шагом в 1 день).
  - `temperature`: Среднесуточная температура (в °C).
  - `season`: Сезон года (зима, весна, лето, осень).

Код для генерации файла вы найдете ниже.

### Этапы выполнения

1. **Анализ исторических данных**:
   - Вычислить **скользящее среднее** температуры с окном в 30 дней для сглаживания краткосрочных колебаний.
   - Рассчитать среднюю температуру и стандартное отклонение для каждого сезона в каждом городе.
   - Выявить аномалии, где температура выходит за пределы $ \text{среднее} \pm 2\sigma $.
   - Попробуйте распараллелить проведение этого анализа. Сравните скорость выполнения анализа с распараллеливанием и без него.

2. **Мониторинг текущей температуры**:
   - Подключить OpenWeatherMap API для получения текущей температуры города. Для получения API Key (бесплатно) надо зарегистрироваться на сайте. Обратите внимание, что API Key может активироваться только через 2-3 часа, это нормально. Посему получите ключ заранее.
   - Получить текущую температуру для выбранного города через OpenWeatherMap API.
   - Определить, является ли текущая температура нормальной, исходя из исторических данных для текущего сезона.
   - Данные на самом деле не совсем реальные (сюрпрайз). Поэтому на момент эксперимента погода в Берлине, Каире и Дубае была в рамках нормы, а в Пекине и Москве аномальная. Протестируйте свое решение для разных городов.
   - Попробуйте для получения текущей температуры использовать синхронные и асинхронные методы. Что здесь лучше использовать?

3. **Создание приложения на Streamlit**:
   - Добавить интерфейс для загрузки файла с историческими данными.
   - Добавить интерфейс для выбора города (из выпадающего списка).
   - Добавить форму для ввода API-ключа OpenWeatherMap. Когда он не введен, данные для текущей погоды не показываются. Если ключ некорректный, выведите на экран ошибку (должно приходить `{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}`).
   - Отобразить:
     - Описательную статистику по историческим данным для города, можно добавить визуализации.
     - Временной ряд температур с выделением аномалий (например, точками другого цвета).
     - Сезонные профили с указанием среднего и стандартного отклонения.
   - Вывести текущую температуру через API и указать, нормальна ли она для сезона.

### Критерии оценивания

- Корректное проведение анализа данных – 1 балл.
- Исследование распараллеливания анализа – 1 балл.
- Корректный поиск аномалий – 1 балл.
- Подключение к API и корректность выполнения запроса – 1 балл.
- Проведение эксперимента с синхронным и асинхронным способом запроса к API – 1 балл.
- Создание интерфейса приложения streamlit в соответствии с описанием – 3 балла.
- Корректное отображение графиков и статистик, а также сезонных профилей – 1 балл.
- Корректный вывод текущей температуры в выбранном городе и проведение проверки на ее аномальность – 1 балл.
- Любая дополнительная функциональность приветствуется и оценивается бонусными баллами (не более 2 в сумме) на усмотрение проверяющего.

### Формат сдачи домашнего задания

Решение нужно развернуть в Streamlit Cloud (бесплатно)

*   Создаем новый репозиторий на GitHub.  
*   Загружаем проект.
*   Создаем аккаунт в [Streamlit Cloud](https://streamlit.io/cloud).
*   Авторизуемся в Streamlit Cloud.
*   Создаем новое приложение в Streamlit Cloud и подключаем GitHub-репозиторий.
*   Deploy!

Сдать в форму необходимо:
1. Ссылку на развернутое в Streamlit Cloud приложение.
2. Ссылку на код. Все выводы про, например, использование параллельности/асинхронности опишите в комментариях.

Не забудьте удалить ключ API и иную чувствительную информацию.

### Полезные ссылки
*   [Оформление задачи Титаник на Streamlit](https://github.com/evgpat/streamlit_demo)
*   [Документация Streamlit](https://docs.streamlit.io/)
*   [Блог о Streamlit](https://blog.streamlit.io/)

In [24]:
import pandas as pd
import numpy as np

# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import seaborn as sns
from debugpy.adapter.components import missing
from seaborn import heatmap
import pickle
from IPython.display import display

random.seed(42)
np.random.seed(42)

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
df_weather = pd.read_csv('./temperature_data.csv')
print(f"Размеры:{df_weather.shape}")

Размеры:(54750, 4)

In [3]:
display(df_weather)

              city   timestamp  temperature  season
0         New York  2010-01-01     2.483571  winter
1         New York  2010-01-02    -0.691322  winter
2         New York  2010-01-03     3.238443  winter
3         New York  2010-01-04     7.615149  winter
4         New York  2010-01-05    -1.170767  winter
...            ...         ...          ...     ...
54745  Mexico City  2019-12-25    20.622226  winter
54746  Mexico City  2019-12-26    18.726569  winter
54747  Mexico City  2019-12-27    16.675860  winter
54748  Mexico City  2019-12-28    18.325804  winter
54749  Mexico City  2019-12-29     4.236391  winter

[54750 rows x 4 columns]

In [4]:
print("Расчет скользящей средней температуры с окном в 30 дней для сглаживания краткосрочных колебаний")


for city in df_weather['city'].unique():
        mask = df_weather['city'] == city
        df_weather.loc[mask, 'mean30'] = df_weather.loc[mask, 'temperature'].rolling(window=30, center=True).mean()


display(df_weather.head(20))

Расчет скользящей средней температуры с окном в 30 дней для сглаживания краткосрочных колебаний

        city   timestamp  temperature  season    mean30
0   New York  2010-01-01     2.483571  winter       NaN
1   New York  2010-01-02    -0.691322  winter       NaN
2   New York  2010-01-03     3.238443  winter       NaN
3   New York  2010-01-04     7.615149  winter       NaN
4   New York  2010-01-05    -1.170767  winter       NaN
..       ...         ...          ...     ...       ...
15  New York  2010-01-16    -2.811438  winter -0.940734
16  New York  2010-01-17    -5.064156  winter -1.123805
17  New York  2010-01-18     1.571237  winter -0.792048
18  New York  2010-01-19    -4.540120  winter -0.902245
19  New York  2010-01-20    -7.061519  winter -1.332369

[20 rows x 5 columns]

In [ ]:
print("Расчет средней температуры и стандартного отклонения для каждого сезона в каждом городе")

season_data = []
for city in df_weather['city'].unique():
    for season in df_weather['season'].unique():
    
        mask = (df_weather['city'] == city) & (df_weather['season'] == season)
        weather_data = df_weather.loc[mask, 'temperature']
            
        mean_data = weather_data.mean()
        std_data = weather_data.std()

        season_data.append({
                'city': city,
                'season': season,
                'mean': mean_data,
                'std': std_data,
            })

df_season_stats = pd.DataFrame(season_data)
display(df_season_stats)

Расчет средней температуры и стандартного отклонения для каждого сезона в каждом городе

           city  season       mean       std
0      New York  winter   0.185842  5.001635
1      New York  spring  10.071862  5.008226
2      New York  summer  25.039676  4.827814
3      New York  autumn  15.208228  5.094014
4        London  winter   4.676731  5.133661
..          ...     ...        ...       ...
55        Cairo  autumn  25.208830  4.985599
56  Mexico City  winter  12.148711  5.090572
57  Mexico City  spring  17.907452  5.102584
58  Mexico City  summer  19.924154  4.828033
59  Mexico City  autumn  15.174839  5.201462

[60 rows x 4 columns]

In [6]:
print('Выявление аномалий, где температура выходит за пределы 2*sigma')
countAnom = 0
for index in range(len(df_weather)):
    if pd.notna(df_weather.loc[index, "mean30"]):
        result = df_season_stats.loc[(df_season_stats['city'] == df_weather.loc[index, "city"]) & (df_season_stats['season'] == df_weather.loc[index, "season"]), ['mean', 'std']]
        
        if (abs(df_weather.loc[index, 'mean30'] - result['mean'].iloc[0]) > 2 * result['std'].iloc[0]):
            print(f"Аномалия: {df_weather.loc[index, 'mean30']} - {result['mean'].iloc[0]} > 2 * {result['std'].iloc[0]}")
            countAnom = countAnom + 1
print(f'Количество аномалий: {countAnom}')

Выявление аномалий, где температура выходит за пределы 2*sigma
Аномалия: 7.96844923577123 - -1.9513371166355582 > 2 * 4.907935842515746
Аномалия: 8.381344909557425 - -1.9513371166355582 > 2 * 4.907935842515746
Аномалия: 8.434908493676156 - -1.9513371166355582 > 2 * 4.907935842515746
Количество аномалий: 3

In [ ]:
# - Попробуйте распараллелить проведение этого анализа. Сравните скорость выполнения анализа с распараллеливанием и без него.

In [ ]:
import requests
from datetime import datetime

def month_to_season(month):
    match month:
        case 12 | 1 | 2:
            return "winter"
        case 3 | 4 | 5:
            return "spring"
        case 6 | 7 | 8:
            return "summer"
        case 9 | 10 | 11:
            return "autumn"
    

def city_to_rus(str):
    match str:
        case "New York":
            return "Нью-Йорке"
        case "London":
            return "Лондоне"        
        case "Paris":
            return "Париже"        
        case "Tokyo":
            return "Токио"                
        case "Moscow":
            return "Москве"        
        case "Sydney":
            return "Сиднее"        
        case "Berlin":
            return "Берлине"        
        case "Beijing":
            return "Пекине"        
        case "Rio de Janeiro":
            return "Рио-де-Жанейро"        
        case "Dubai":
            return "Дубае"        
        case "Los Angeles":
            return "Лос-Анджелесе"        
        case "Singapore":
            return "Сингапуре"        
        case "Mumbai":
            return "Мумбаи"        
        case "Cairo":
            return "Каире"        
        case "Mexico City":
            return "Мехико"
        
API_KEY = "ffb8bb9490f8f877c4a600b145f497d9"

for city in df_weather['city'].unique():
    API_URL = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric&lang=ru"
    response = requests.get(API_URL)
    data_from_API = response.json()
    print(f'_____________________________{city}__________________________')
    city_rus = city_to_rus(city)
    print(f"Сейчас в {city_rus} {data_from_API['weather'][0]['description']}, ")
    print(f'Температура: {data_from_API['main']['temp']}°C, ощущается как {data_from_API['main']['feels_like']}°C. Минимальная температура {data_from_API['main']['temp_min']}°C, максимальная температура {data_from_API['main']['temp_max']}°C')
    result = df_season_stats.loc[(df_season_stats['city'] == city) & (df_season_stats['season'] == month_to_season(datetime.now().month)), ['mean', 'std']]
    if (abs(data_from_API['main']['temp'] - result['mean'].iloc[0]) > 2 * result['std'].iloc[0]):
        print(f"Аномалия: ({data_from_API['main']['temp']} - {result['mean'].iloc[0]}) > 2 * {result['std'].iloc[0]} \n")
    else:
        print(f"Аномалии нет: ({data_from_API['main']['temp']} - {result['mean'].iloc[0]}) < 2 * {result['std'].iloc[0]} \n")

_____________________________New York__________________________
Сейчас в Нью-Йорке пасмурно,
Температура: 5.57°C, ощущается как 2.79°C. Минимальная температура 4.41°C, максимальная температура 6.23°C
Аномалии нет: (5.57 - 0.18584174286816135) > 2 * 5.001635094207616

_____________________________London__________________________
Сейчас в Лондоне небольшая облачность,
Температура: 5.31°C, ощущается как 2.81°C. Минимальная температура 3.86°C, максимальная температура 6.64°C
Аномалии нет: (5.31 - 4.67673146454691) > 2 * 5.133660864226495

_____________________________Paris__________________________
Сейчас в Париже ясно,
Температура: 3.14°C, ощущается как -1.31°C. Минимальная температура 1.88°C, максимальная температура 3.93°C
Аномалии нет: (3.14 - 4.099823202053021) > 2 * 4.822332318897627

_____________________________Tokyo__________________________
Сейчас в Токио небольшая облачность,
Температура: 6.06°C, ощущается как 0.67°C. Минимальная температура 4.78°C, максимальная температура 6.58°C
Аномалии нет: (6.06 - 6.249365398700286) > 2 * 5.000182770075892

_____________________________Moscow__________________________
Сейчас в Москве облачно с прояснениями,
Температура: -6.76°C, ощущается как -6.76°C. Минимальная температура -6.76°C, максимальная температура -6.71°C
Аномалии нет: (-6.76 - -9.796384158107593) > 2 * 5.127607656801202

_____________________________Sydney__________________________
Сейчас в Сиднее небольшой дождь,
Температура: 17.66°C, ощущается как 17.65°C. Минимальная температура 16.53°C, максимальная температура 18.73°C
Аномалии нет: (17.66 - 11.965857894291057) > 2 * 4.927896903301159

_____________________________Berlin__________________________
Сейчас в Берлине ясно,
Температура: -3.73°C, ощущается как -10.73°C. Минимальная температура -5.08°C, максимальная температура -3.15°C
Аномалии нет: (-3.73 - -0.38367933194905474) > 2 * 4.683119246610645

_____________________________Beijing__________________________
Сейчас в Пекине ясно,
Температура: -6.06°C, ощущается как -12.37°C. Минимальная температура -6.06°C, максимальная температура -6.06°C
Аномалии нет: (-6.06 - -1.9513371166355582) > 2 * 4.907935842515746

_____________________________Rio de Janeiro__________________________
Сейчас в Рио-де-Жанейро ясно,
Температура: 27.02°C, ощущается как 28.81°C. Минимальная температура 27°C, максимальная температура 29.12°C
Аномалии нет: (27.02 - 19.907468594881863) > 2 * 5.223343705527941

_____________________________Dubai__________________________
Сейчас в Дубае ясно,
Температура: 24.96°C, ощущается как 24.66°C. Минимальная температура 24.96°C, максимальная температура 25.14°C
Аномалии нет: (24.96 - 19.99528365358194) > 2 * 4.854135422948714

_____________________________Los Angeles__________________________
Сейчас в Лос-Анджелесе ясно,
Температура: 11.12°C, ощущается как 9.44°C. Минимальная температура 9.53°C, максимальная температура 13.78°C
Аномалии нет: (11.12 - 14.867821370901734) > 2 * 4.887067309762907

_____________________________Singapore__________________________
Сейчас в Сингапуре облачно с прояснениями,
Температура: 28.29°C, ощущается как 30.67°C. Минимальная температура 26.92°C, максимальная температура 28.97°C
Аномалии нет: (28.29 - 27.217144171706686) > 2 * 4.992827667352091

_____________________________Mumbai__________________________
Сейчас в Мумбаи дымка,
Температура: 29.99°C, ощущается как 30.3°C. Минимальная температура 26.94°C, максимальная температура 29.99°C
Аномалии нет: (29.99 - 24.572497550125213) > 2 * 4.903410423553971

_____________________________Cairo__________________________
Сейчас в Каире переменная облачность,
Температура: 20.42°C, ощущается как 19.48°C. Минимальная температура 20.23°C, максимальная температура 20.42°C
Аномалии нет: (20.42 - 14.970684989918535) > 2 * 5.0844447863132345

_____________________________Mexico City__________________________
Сейчас в Мехико пасмурно,
Температура: 7.75°C, ощущается как 6.36°C. Минимальная температура 7.75°C, максимальная температура 7.75°C
Аномалии нет: (7.75 - 12.148710866873035) > 2 * 5.090571751665429